{% include "yalladevelop/header.html" %}
{% load staticfiles%}
<!--<h1><center>About Us</h1>
	<p>Yalla Develop satisfies creative individual’s needs of funding and/or skills by offering an online hub where projects owners get to propose, share and fundraise their projects to the public to get the support they need to develop their projects. Yalla Develop targets creative individuals within the Gulf Cooperation Council Countries - Qatar, Saudi Arabia, Oman, Kuwait, UAE and Bahrain - to help them enlarge their ideas and move it from the theoretical phase into an actual implementation and product. This website will help collect funding from the public viewers and private or publics companies interested in reflecting back into their communities, the funding is then given to the project owner to initialize and start developing a website/mobile app that we believe a worthy and innovative within its environment. </p><br>
	<p>	The scope of this website revolves around developing creative and innovative websites and mobile applications in the MENA region to overcome the lack of maturity and professionalism in the products in this sector of technology. By creating a hub for innovators and creative people to meet and share their ideas with the world, Yalla Develop will utilize the best talents, expertise while also collect funds to financially support the launch of these projects. Yalla Develop will unleash the hidden talents and ideas the MENA individuals has stored in their minds only due to financial or experiential limitations. We are expecting most of our users and stakeholders to be high schoolers who are tech savy with interest in technology and applications development, another group we are expecting to utilize our website are young Information Systems undergraduates and professionals who are looking to fund their innovative projects.</p>
</center>
<h1> <center>Founders </center></h1>
<center>
	<table>
	
<tr>
		<td><img class="img-circle"  style="width:200px; height:200px;" src= "{% static "cosmo/img/abdulla.jpg"%}"></td>
<td><img class="img-circle"  style="width:200px; height:200px;" src= "{% static "cosmo/img/Nihal.jpg"%}"></td>
<td><img class="img-circle"  style="width:200px; height:200px;" src= "{% static "cosmo/img/bwoman.png"%}"></td>
<td><img class="img-circle"  style="width:200px; height:200px;" src= "{% static "cosmo/img/omar.jpeg"%}"></td>
</tr>
		<tr>
<td width="20%"><center>Abdulla AlKhenji  <br/> Technical Lead</center> </td> 
<td width="20%"><center>Nihal Fathima     <br/> Designer and Developer</center></td>
<td width="20%"><center>Noora Al Mulla   <br/>  Scrum Master</center></td>
<td width="20%"><center>Omar Shamiyeh  <br/> Designer and Product Owner<center/></td>
</tr>
</center>
</table>
<br/>
<br/>-->
<div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">About Us</h1>
              <p class="text-center">
	<p>Yalla Develop satisfies creative individual’s needs of funding and/or skills by offering an online hub where projects owners get to propose, share and fundraise their projects to the public to get the support they need to develop their projects. Yalla Develop targets creative individuals within the Gulf Cooperation Council Countries - Qatar, Saudi Arabia, Oman, Kuwait, UAE and Bahrain - to help them enlarge their ideas and move it from the theoretical phase into an actual implementation and product. This website will help collect funding from the public viewers and private or publics companies interested in reflecting back into their communities, the funding is then given to the project owner to initialize and start developing a website/mobile app that we believe a worthy and innovative within its environment. </p><br>
	<p class="text-center"><p>	The scope of this website revolves around developing creative and innovative websites and mobile applications in the MENA region to overcome the lack of maturity and professionalism in the products in this sector of technology. By creating a hub for innovators and creative people to meet and share their ideas with the world, Yalla Develop will utilize the best talents, expertise while also collect funds to financially support the launch of these projects. Yalla Develop will unleash the hidden talents and ideas the MENA individuals has stored in their minds only due to financial or experiential limitations. We are expecting most of our users and stakeholders to be high schoolers who are tech savy with interest in technology and applications development, another group we are expecting to utilize our website are young Information Systems undergraduates and professionals who are looking to fund their innovative projects.</p>
            </div>
            
            <div class="teamInfo">
				<h1 class="text-center"><a class="text-title"  title="photos" target="_blank">OUR TEAM </a></h1>
              <ul>
                <li>
                  <div class="teamBox">
                      <div class="imgWrp"><img class="img-responsive" alt="123"
						 src= "{% static "yalladevelop/Images/team/Nihal.jpg" %}"style="width:228px;height:220px"></div>
                    <div class="tInfo">
                      <h4 class="text-center">Nihal Fathima</h4>
                      <h5 class="text-center">Designer</h6>
                    </div>
                  </div>
                </li> 
                <li>
                  <div class="teamBox">
                   <div class="imgWrp"><img class="img-responsive" alt="123"
					 src= "{% static "yalladevelop/Images/team/abdulla.jpg" %}"style="width:228px;height:220px"></div>
					  
                    <div class="tInfo">
                      <h4 class="text-center">Abdulla Alkhenji</h4>
                      <h5 class="text-center">Developer</h6>
                    </div>
                  </div>
                </li> 
                <li>
                  <div class="teamBox">
                      <div class="imgWrp"><img class="img-responsive" alt="123"
						 src= "{% static "yalladevelop/Images/team/BWoman.png" %}" style="width:200px;height:200px"></div>
					  
                    <div class="tInfo">
                      <h4 class="text-center">Noora AlMulla</h4>
                      <h5 class="text-center">Manager</h6>
                    </div>
                  </div>
                </li> 
                <li>
                  <div class="teamBox">
                    <div class="imgWrp"><img class="img-responsive" alt="123"
					 src= "{% static "yalladevelop/Images/team/Omar.jpeg" %}"style="width:228px;height:220px"></div>
					  
                    <div class="tInfo">
                      <h4 class="text-center">Omar Shamiyeh </h4>
                      <h5 class="text-center">Product owner </h6>
                    </div>
                  </div>
                </li> 
                <li>
                  <div class="teamBox">
                      <div class="imgWrp"><img class="img-responsive" alt="123"
						 src= "{% static "yalladevelop/Images/team/ray.jpg" %}"style="width:228px;height:220px"></div>
					  
                    <div class="tInfo">
                      <h4 class="text-center"> Professor Ray Tsai  </h4>
                      <h5 class="text-center"> Advisor </h6>
                    </div>
                  </div>
                </li>
				
				
                <h4 class="text-center">&nbsp </h4>
				
              </ul>
            </div>


</h5>
</div>
</div>
</li>
</h5>
</div>
</div>
</li>.
</h5>
</div>
</div>
</li>
</h5>
</div>
</div>
</li>
</h5>
</div>
</div>
</li>
</ul>
</div>
</p>
</p>
</div>
</div>
</div>
{% include "yalladevelop/footer.html" %}