{% include "yalladevelop/header.html" %}






       <div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">User Directory</h1>

<p> Join our community, start your project on YallaDevelop and see your idea come into live soon after raising funding. It is our creative and innovative users who make us alive and sustainable. Join YallaDevelop users and stay connected. Here is your fellow YallaDevelop users: </p>

<h6>Looking for people with specific skills? <a href="/search_skills"><i class="fa fa-globe"></i> Search Users by Skills </a></h6>
			  
			

 
 <!--<i class="icomoon icon-star-3"></i>Featured Projects </div>-->
  {% for p in users %}
    <div class="col-md-4">
    <div class= "hoping">
    <img src="{{STATIC_URL}}yalladevelop/Images/team/Nihal.jpg" width="180" height="100" / >
    <br>
    <h4>{{ p.name }} </h4>
      {% for s in skills%}
    {%if s.name == "Python" %}
     <i class="icon-python" style="font-size: 1em;"></i>
     {%elif s.name == "Java" %}
     <i class="icon-java" style="font-size: 1em;"></i>
      {%elif s.name == "C" %}
     <i class="icon-c" style="font-size: 1em;"></i>
      {%elif s.name == "Ruby" %}
     <i class="icon-ruby-on-rails-alt" style="font-size: 1em;"></i>
      {%elif s.name == "HTML" %}
     <i class="icon-html" style="font-size: 1em;"></i>
      {%elif s.name == "php" %}
     <i class="icon-php" style="font-size: 1em;"></i>
     {%elif s.name == "asp" %}
     <i class="icon-aws" style="font-size: 1em;"></i>
     {%elif s.name == "perl" %}
     <i class="icon-perl" style="font-size: 1em;"></i>
     {%else%}
      {{s.name}}
    {% endif %}
   
   {% endfor %}
   <p><a class="btn btn-default" href="/profile/{{p.user.id}}" role="button">View details &raquo;</a></p>
   
    
    
    </div>
       <br>
      <br>
    </div>
  {% endfor %}

  


<p>

<ul class="pagination">
	{% if users.has_previous %}
		<li><a href="?page={{ users.previous_page_number }}">«</a></li>
	{% else %}
		<li class="disabled"><a href="#">«</a></li>
	{% endif %}
	{% for i in paginator.page_range %}
		{% if forloop.counter == users.number %}
			<li class="active"><a href="/allusers/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
		{% else %}
			<li><a href="/allusers/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
		{% endif %}
	{% endfor %}
	{% if users.has_next %}
		<li><a href="?page={{ users.next_page_number }}">»</a></li>
	{% else %}
		<li class="disabled"><a href="#">»</a></li>
	{% endif %}	
</ul>        
	   </p>
	          </div>
	        </div>
	        </div>
	       





<br><br>



{% include "yalladevelop/footer.html" %}