{% include "yalladevelop/header.html" %}

{% if logged_in %}
	<div class="alert alert-dismissable alert-warning">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  <h4>Hello Guest!</h4>
	  <p>Why not make an account to get points? <a href="/userorcompany">Signup Now!</a></p>
	</div>
{% endif %}

<div class="col-md-12">
	<div class="secHeader">
		<div class="jumbotron">
			<h1 class="text-center">Donate</h1>
			<img style="height:200px;" src="{% url 'getProjectPicture' project.id %}">
			<form action="/project/{{project.id}}/donate/" method="post">
				{% csrf_token %}
				<h3>Project name: {{ project.name }}</h3>
				<h3>Created by: {{ owner }}</h3>
				{% if logged_in %}
					<h3>Logged in as: <strong>{{user}}</strong></h3>
				{% endif %}
				{{ form.error_messages }}
				<div class="form-group">
					<label class="control-label">Donate for Project: [ {{ project.name }} ]</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
							{{form.amount}}
						<span class="input-group-btn">
							<button onClick="confirm('Are you sure this is the correct amount?')"class="btn btn-success" type="submit">Donate</button>
						</span>
					</div>
				</div>
			</form>
			<br/>
	</div>
</div>
</div>


{% include "yalladevelop/footer.html" %}