{% load staticfiles %}

<script src="{% static "flatui/js/jquery-1.8.3.min.js" %}"></script>
<script src="{% static "flatui/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script src="{% static "flatui/js/jquery.ui.touch-punch.min.js" %}"></script>
<script src="{% static "flatui/js/bootstrap.min.js" %}"></script>
<script src="{% static "flatui/js/bootstrap-select.js" %}"></script>
<script src="{% static "flatui/js/bootstrap-switch.js" %}"></script>
<script src="{% static "flatui/js/flatui-checkbox.js" %}"></script>
<script src="{% static "flatui/js/flatui-radio.js" %}"></script>
<script src="{% static "flatui/js/jquery.tagsinput.js" %}"></script>
<script src="{% static "flatui/js/jquery.placeholder.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "cosmo/docs.min.js"%}"></script>
</body>
</div>

<footer>

	<div class="navbar navbar-default">
	  <div class="navbar-collapse collapse navbar-responsive-collapse">
		<br/>
		<div class="col-md-4">
          <h4>Yalla Develop Info</h4>
         <p>The scope of this website revolves around developing creative and innovative websites and mobile applications in the MENA region.</p>
		 <div class ="addrs">
            <ul>
              <i class="fa fa-map-marker"></i>Qatar Foundation, Doha, Qatar <br/>
              <i class="fa fa-mobile-phone"></i> 4454-4444<br/>
              <i class="fa fa-globe"></i><a rel="nofollow" href="http://www.yalladevelop.com"> &nbsp www.yalladevelop.com</a><br/>
              <i class="fa fa-envelope"></i>info@yalladevelop.com<br/>
            </ul> 
			</div>
		</div>
		<div class="col-md-4">
			<a class="twitter-timeline" href="https://twitter.com/YallaDevelop" data-widget-id="456791887605542912">Tweets by @YallaDevelop</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<br/>
			<br/>
			</div>
			
			<div class="col-md-4">
	    
	        <h4>Stay Tuned</h4>
	        <p>You may sign up our monthly newsletter to receive updates or news from our team.</p>
	        <form role="form">
	          <div class="form-group">
	            <input type="email" class="form-control" id="email_newsletter" placeholder="Subscribe to our newsletter.">
	          </div>
	          <div><button type="button" class="btn btn-info" value="submit">Send</button></div>
	        </form>
		
			</div>
		
	    <ul class="nav navbar-nav"><!-- // left -->
			<li><a href='/about'><i class="fa fa-rocket"></i> About Us</a></li>
			<li><a href='/terms'><i class="fa fa-thumb-tack"></i> Terms and Conditions</a></li>
			<li><a href='/sitemap'><i class="fa fa-sitemap"></i> Sitemap</a></li>
			<li><a href='/privacy'><i class="fa fa-group"></i> Privacy</a></li>
			<li><a href='/faq'><i class="fa fa-question"></i> FAQ</a></li>
			<li><a href='/contact'><i class="fa fa-envelope"></i> Contact Us</a></li>
	    </ul>

		
    <ul class="nav navbar-nav navbar-right"> <!-- // right -->

        <li><a href="http://www.twitter.com/YallaDevelop"><i class="fa fa-twitter soc"></i></a></li>
        <li><a href="http://www.facebook.com/"><i class="fa fa-facebook soc"></i></a></li>
        <li><a href="http://www.instagram.com/"><i class="fa fa-instagram soc"></i></a></li>
      </li>
    </ul>
		              	                  
	</div>
	

<br/>
</footer>

</div> <!-- Closing the CONTAINER div -->

</html>


{% comment %}
{% load staticfiles %}

<script src="{% static "flatui/js/jquery-1.8.3.min.js" %}"></script>
<script src="{% static "flatui/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script src="{% static "flatui/js/jquery.ui.touch-punch.min.js" %}"></script>
<script src="{% static "flatui/js/bootstrap.min.js" %}"></script>
<script src="{% static "flatui/js/bootstrap-select.js" %}"></script>
<script src="{% static "flatui/js/bootstrap-switch.js" %}"></script>
<script src="{% static "flatui/js/flatui-checkbox.js" %}"></script>
<script src="{% static "flatui/js/flatui-radio.js" %}"></script>
<script src="{% static "flatui/js/jquery.tagsinput.js" %}"></script>
<script src="{% static "flatui/js/jquery.placeholder.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "cosmo/docs.min.js"%}"></script>
</body>
</div>

<footer>

	<div class="navbar navbar-default">
	  <div class="navbar-collapse collapse navbar-responsive-collapse">
		<br/>
<table>
        <tr>  <h4>Yalla Develop Info</h4>
          <div class="addr">
         <td>   <p>The scope of this website revolves around developing creative and innovative websites and mobile applications in the MENA region.</p>
            <ul>
              <li>Qatar Foundation, Doha, Qatar</li>
              <li>4454-4444</li>
              <li><a rel="nofollow" href="http://www.yalladevelop.com">www.yalladevelop.com</a></li>
              <li>info@yalladevelop.com</li>
            </ul> </td>
			<td>
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/YallaDevelop" data-widget-id="451822567209181184">Tweets by @YallaDevelop</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</td></tr></table>
			
	    <ul class="nav navbar-nav"><!-- // left -->
			<li><a href='/about'><i class="fa fa-rocket"></i> About Us</a></li>
			<li><a href='/terms'><i class="fa fa-thumb-tack"></i> Terms and Conditions</a></li>
			<li><a href='/sitemap'><i class="fa fa-sitemap"></i> Sitemap</a></li>
			<li><a href='/privacy'><i class="fa fa-group"></i> Privacy</a></li>
			<li><a href='/faq'><i class="fa fa-question"></i> FAQ</a></li>
			<li><a href='/contact'><i class="fa fa-envelope"></i> Contact Us</a></li>
	    </ul>
	    
    <ul class="nav navbar-nav navbar-right"> <!-- // right -->

        <li><a href="http://www.twitter.com/YallaDevelop"><i class="fa fa-twitter soc"></i></a></li>
        <li><a href="http://www.facebook.com/"><i class="fa fa-facebook soc"></i></a></li>
        <li><a href="http://www.instagram.com/"><i class="fa fa-instagram soc"></i></a></li>
      </li>
    </ul>
		              
 
	
              
		                  
	</div>
	
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</footer>

</div> <!-- Closing the CONTAINER div -->

</html>

{% endcomment %}