{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Yalla Develop: {{ page_name }}</title>
	
	<script src="{% static "yalladevelop/js/jquery.js" %}"></script>
	<script src="{% static "yalladevelop/js/dropzone.js" %}"></script>
	<script src="{% static "yalladevelop/js/script.js" %}"></script>
	
	<link href="{% static "cosmo/bootstrap.css" %}" rel="stylesheet">
	<link href="{% static "cosmo/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "cosmo/bootswatch.less" %}" rel="stylesheet">
	<link href="{% static "cosmo/variables.less" %}" rel="stylesheet">
	<link href="{% static "cosmo/font/font-mfizz.css" %}" rel="stylesheet">
	<link href="{% static "cosmo/font-awesome.min.css" %}" rel="stylesheet">
	
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
	<link href="{% static "yalladevelop/css/style.css" %}" rel="stylesheet">
	
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
	
</head>
<body>
	
	
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><i class="fa fa-wrench fa-lg"></i> Yalla Develop!</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
	
		
		<li><a href="/explore"><i class="fa fa-globe"></i> Explore</a></li>

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list-ol"></i> Browse <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/allusers"><i class="fa fa-user"></i> Users</a></li>
			        <li><a href="/allprojects"><i class="fa fa-cog"></i> Projects</a></li>
			        <li><a href="/allcompanies"><i class="fa fa-suitcase"></i> Companies</a></li>
				</ul>
			</li>
		
		<li><a href="/rankings"><i class="fa fa-trophy"></i> Top 10</a></li>
		
    </ul>

    <ul class="nav navbar-nav navbar-right">
	


	<li class="dropdown">
		{% if logged_in %}
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user}} <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li class="dropdown-header">Profile</li>
				<li><a href="/profile/{{user.id}}">My Profile</a></li>
				<li><a href="/profile_settings">Profile Settings</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">Projects</li>
				{% if not is_company %}
					<li><a href="/addproject">Create Project</a></li>
				{% endif %}
				<li><a href="/track">Track Projects</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">Login/Logout</li>
				
				<li><a href="/logout">Logout?</a></li>
			</ul>
		{% else %}
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login | Signup <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/login">Login</a></li>
				<li><a href="/userorcompany">Create Account</a></li>
			</ul>
		{% endif %}
      </li>
    </ul>
  </div>
  </div>
  
<div class="container">
