{% include "yalladevelop/header.html" %}
<div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">Profile Settings</h1>
              <p class="text-center">


	<h4>Note: type your old password to save the changes.</h4>
	<form action="/profile_settings/" method="POST">
		<h6>Username: <strong>{{user.username}}</strong></h6>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
	</form>
<br/>
</p>
</div>
</div>
</div>


{% include "yalladevelop/footer.html" %}