{% include "yalladevelop/header.html" %}

<div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">SiteMap </h1>
              <p class="text-center">

<h3><p> Header </p></h3>
<p><strong>Home </strong></p>

<ul><li> Hot projects </li>
<li>   Featured projects </li></ul>

<p><strong>About </strong></p>

<ul><li>  Founders and Yalla Develop</li>
<li>  Yalla Develop</li></ul>

<p><strong>Projects </strong></p>
<ul><li>  Add Projects</li>
<li> Track Projects</li></ul>
<p><strong>Profile </strong></p>

<ul><li> Settings (password, username…) </li></ul>

<p><strong>Users </strong></p>
<ul><li>  All Users</li>
<li>  Users By skills</li></ul>
<p><strong>Ranking </strong></p>
<p><strong>Sign up/Sign in </strong></p>

<h3><p> Footer </p> </h3> 
<p><strong>Privacy </strong></p>
<p><strong>Contact us </strong></p>
<p><strong>Terms and Conditions </strong></p>
<p><strong>Sitemap </strong></p>
<p><strong>Social Media </strong></p>

</div>
</div>
</div>
</div>
</div>

	
{% include "yalladevelop/footer.html" %}