{% include "yalladevelop/header.html" %}

<div class="row">
          <div class="col-md-12">
            <div class="secHeader">
              <h1 class="text-center">Terms and Conditions </h1>
              <p class="text-center">

<p>This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the English version, the English version controls.  

Date of Last Revision: November 15, 2013.</p>

<p><strong>Statement of rights and responsibilities</strong></p>

<p>This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from YallaDevelop Principles, and is our terms of service that governs our relationship with users and others who interact with our site. By using or accessing YallaDevelop, you agree to this Statement, as updated from time to time in accordance with terms and conditions. Additionally, you will find resources at the end of this document that help you understand how Yalla Develop works.</p>

<p><strong>Privacy</strong></p>

<p>Your privacy is very important to us. We designed our Data Use Policy to make important disclosures about how you can use YallaDevelop to share with others and how we collect and can use your content and information.  Important information to you such as Projects involved in, resume and Passport details will not be shared without your consent </p>
 
<p><strong>Sharing your content and information online</strong></p>

<p>You own all of the content and information you post on YallaDevelop, and you can control how it is shared through your privacy and application settings. In addition:
For content that is covered by intellectual property rights, like photos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with YallaDevelop (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.
When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).</p>


<p><strong>Safety</strong></p>

<p>

We do our best to keep YallaDevelop safe, but we cannot guarantee it. We need your help to keep YallaDevelop safe, which includes the following commitments by you:</p><p><ul>
<li>You will not post unauthorized commercial communications (such as spam) on YallaDevelop.</li>
<li> You will not collect users' content or information, or otherwise access YallaDevelop, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</li>
<li>You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on YallaDevelop.</li>
<li>You will not upload viruses or other malicious code.</li>
<li>You will not solicit login information or access an account belonging to someone else.</li>
<li>You will not bully, intimidate, or harass any user.</li>
<li>You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</li>
<li>You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements) </li>
<li>You will not use YallaDevelop to do anything unlawful, misleading, malicious, or discriminatory.</li>
<li>You will not do anything that could disable, overburden, or impair the proper working or appearance of YallaDevelop, such as a denial of service attack or interference with page rendering or other YallaDevelop functionality.</li>
<li>You will not facilitate or encourage any violations of this Statement or our policies.</li>
</ul>
 </p>
<p><strong>Registeration and Account Security</strong></p>

<p>YallaDevelop users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:</p>
<p><ul>
<li>You will not provide any false personal information on YallaDevelop, or create an account for anyone other than yourself without permission. </li>
<li>You will not create more than one personal account.</li>
<li>If we disable your account, you will not create another one without our permission.</li>
<li>You will keep your contact information accurate and up-to-date.</li>
<li>You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
<li>You will not transfer your account (including any Page or application you administer) to anyone without first getting our written permission.</li>
<li>If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</li>
</ul>
 </p>
<p><strong>Protecting other people's rights</strong></p>

<p><ul>
<li>We respect other people's rights, and expect you to do the same.</li>
<li>You will not post content or take any action on YallaDevelop that infringes or violates someone else's rights or otherwise violates the law.</li>
<li>We can remove any content or information you post on YallaDevelop if we believe that it violates this Statement or our policies.</li>
<li>If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</li>
<li>You will not use our copyrights or trademarks without our prior written permission.</li>
<li>If you collect information from users, you will: obtain their consent, make it clear you (and not YallaDevelop) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.</li>
<li>You will not post anyone's identification documents or sensitive financial information on YallaDevelop.</li>

 </ul></p>
 
<p><strong>Payment</strong></p>

<p>If you make a payment on YallaDevelop or use YallaDevelop Credits, you agree to our Payments Terms.</p>
 

<p><strong>Termination</strong></p>

<p>If you violate the letter or spirit of this Statement, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of YallaDevelop to you. We will notify you by email or at the next time you attempt to access your account. You may also delete your account or disable your application at any time. In all such cases, this Statement shall terminate, but the following provisions will still apply: 2.2, 2.4, 3-5, 8.2, 9.1-9.3, 9.9, 9.10, 9.13, 9.15, 9.18, 10.3, 11.2, 11.5, 11.6, 11.9, 11.12, 11.13, and 15-19.


</p>
</div>
</div>
</div>
</div>
</div>

{% include "yalladevelop/footer.html" %}